@page
@model ShinyTeeth.Pages.Notifications.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.Receiver.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.LinkTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.LinkTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Notification.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
